<h1>Articles</h1>
<h3>/articles route</h3>

<ul>
  <% @articles.each do |article| %>
    <li>
      <p>display all articles in the database</p>
      <%= article.title %>
    </li>
  <% end %>
</ul>

<ul>
  <% @articles.each do |article| %>
    <li>
      <p>linked to page that contains a single article</p>
      <a href="/articles/<%= article.id %>">
        <%= article.title %>
      </a>
    </li>
  <% end %>
</ul>

